<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yueyang.travel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".domin.application.IMppApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseMaterial">


        <!-- 设置不同网络环境下的长连接保持心跳频率。(单位: 分钟) -->
        <meta-data android:name="com.arrownock.push.KEEPALIVE_INTERVAL_WIFI" android:value="14" />
        <meta-data android:name="com.arrownock.push.KEEPALIVE_INTERVAL_2G" android:value="4" />
        <meta-data android:name="com.arrownock.push.KEEPALIVE_INTERVAL_3G" android:value="4" />

        <meta-data
            android:name="com.arrownock.APP_KEY"
            android:value="@string/app_key" />
        <meta-data
            android:name="com.arrownock.push.SERVICE_TYPE"
            android:value="ARROWNOCK" />

        <activity
            android:name=".view.activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme">

        </activity>
        <activity android:name=".view.activity.LoginActivity"
            android:theme="@style/MainTheme"/>
        <activity
            android:name=".view.activity.DesDetailActivity"
            android:theme="@style/MainTheme"
            android:parentActivityName=".view.activity.MainActivity">

            <!-- 父activity的meta-data，用来支持4.0以下版本 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>

        <activity android:name=".view.activity.PhotoActivity"
            android:parentActivityName=".view.activity.MainActivity"/>

        <activity android:name=".view.activity.CommentActivity" />

        <activity android:name=".view.activity.SettingActivity"
            android:parentActivityName=".view.activity.UserProfileActivity"/>

        <activity android:name=".view.activity.UserProfileActivity"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/MainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>

        <activity android:name=".view.activity.UserPostNavActivity"
            android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>

        <activity android:name=".view.activity.UserListActivity"
            android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>

        <activity android:name=".view.activity.PhotoDetailActivity"
            android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>

        <activity android:name=".view.activity.CountryActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".view.activity.WebActivity"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/MainTheme">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".view.activity.MainActivity" />
        </activity>

        <activity android:name=".view.activity.TestActivity"/>


        <service android:name="com.arrownock.push.PushService" />

        <receiver android:name="com.arrownock.push.PushBroadcastReceiver"
            android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.arrownock.push.PushService.MSG_ARRIVAL" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <!-- Value的内容与上述接收Activity相匹配，使得Arrownock推送将消息传递至该Activity -->
            <meta-data
                android:name="com.arrownock.push.BroadcastReceiver.ArrivalActivity"
                android:value="com.you.app.package.ArrivalActivity" />
        </receiver>
    </application>

</manifest>
